.icon_contain{
    height: 120px;
    width: 120px;
    border-radius: 50%;
    background-color: rgb(36, 35, 35);
    margin: 25px;
    border: 0.5px solid grey;
    margin-top: 20px;
    float: left;
    cursor: pointer;
}
.icon_contain:hover{
    background-color: rgb(54, 54, 54);
}
.logostyle{
    color: grey;
    font-size: 80px;
    margin: 10px 8px 0px 20px;
}
.logoname{
    font-size: small;
    color: grey;
    text-align: center;
    margin-top: -10px;
}